<!DOCTYPE html>
<html>
<head>
  <title>Каталог файлов передачи "Модель для сборки"</title>
  <%= csrf_meta_tag %>
  <%= netzke_init %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/jplayer/jquery.jplayer.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
